//npm.bryntum.com/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJ0cmlhbCJdLCJuYW1lIjoidXNlci4ueW91cmRvbWFpbi5jb20iLCJncm91cHMiOlsidHJpYWwiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiXSwiaWF0IjoxNjc4Mjc1NDQxLCJuYmYiOjE2NzgyNzU0NDEsImV4cCI6MTY3OTQ4NTA0MX0.2A4Y0uVOh_2pDmNp-09pEnHylNBTbdcXnMIQQwnvTzo
registry=https://npm.bryntum.com/
always-auth=true