@myorg:registry=https://npm.bryntum.com/
//npm.bryntum.com/:username=user..yourdomain.com
//npm.bryntum.com/:_password=trial
//npm.bryntum.com/:email=user@yourdomain.com
//npm.bryntum.com/:always-auth=true